<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/nav') %>
    <div class="container mt-5">
      <h1 class="mb-3">Login</h1>
        <form action="/user/login" method="post">
            <div class="mb-3">
              <label for="emailInput" class="form-label">Email address</label>
              <input type="email" class="form-control" id="emailInput" name="email" aria-describedby="emailInput">
            </div>
            <div class="mb-3">
              <label for="passwordField" class="form-label">Password</label>
              <input type="password" class="form-control" id="passwordField" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <%- include('./partials/script') %>
</body>

</html>